:root {
  /* --- YENİ RENK PALETİ --- */
  --primary-color: #ff0000;       /* Canlı Kırmızı */
  --secondary-color: #FFA502;     /* Altın Sarısı */
  --action-color: #2ECC71;        /* Zümrüt Yeşili (Sepet/Onay) */
  --bg-color: #F9FAFB;            /* Kırık Beyaz Arka Plan */
  --card-bg: #ffffff;             /* Kart Beyazı */
  --text-main: #2D3436;           /* Koyu Gri Metin */
  
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-main);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
  transition: color 0.3s;
}
a:hover {
  color: #b30000; /* Kırmızının koyu tonu */
}

button {
  font-family: inherit;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}